.venv/
source/_build/*
tags.*
/bin
/build
/lib
/pyvenv.cfg
.ipynb_checkpoints/
*.gv
*.mod
x86_64/
*.dat
*nrn.py
__pycache__
/regen.sh
/source/Userdocs/NML2_examples/lems_sim/LEMS_sim1.xml
/source/Userdocs/NML2_examples/lems_sim/ex.spikes
/source/Userdocs/NML2_examples/lems_sim/report.txt
NT_*/
.mypy_cache/
/source/Userdocs/NML2_examples/NMLCH000008.channel.nml
/source/Userdocs/NML2_examples/TestCell.net.nml
/source/Userdocs/NML2_examples/complex_cell.hoc
/source/Userdocs/NML2_examples/iv_complex_cell.net.nml
/source/Userdocs/NML2_examples/NMLCH000007.channel.nml
/source/Userdocs/NML2_examples/NMLCH000110.channel.nml
/source/Userdocs/NML2_examples/NMLCH000113.channel.nml
/source/Userdocs/NML2_examples/LEMS_Test_NaTa_t.xml
/source/Userdocs/NML2_examples/LEMS_Test_SKv3_1.xml
/source/Userdocs/NML2_examples/LEMS_iv_complex_cell.xml
arm64
/source/Userdocs/NML2_examples/Ca.channel.nml
/source/Userdocs/NML2_examples/CaDynamics_E2_NML2.nml
/source/Userdocs/NML2_examples/Ca_LVAst.channel.nml
/source/Userdocs/NML2_examples/Exc.spikes
/source/Userdocs/NML2_examples/Ih.channel.nml
/source/Userdocs/NML2_examples/Im.channel.nml
/source/Userdocs/NML2_examples/Inh.spikes
/source/Userdocs/NML2_examples/K_Pst.channel.nml
/source/Userdocs/NML2_examples/K_Tst.channel.nml
/source/Userdocs/NML2_examples/LEMS_NML_DB_network_sim.xml
/source/Userdocs/NML2_examples/LEMS_iv_bAC217_L23_MC_40be3bf0e8_0_0.xml
/source/Userdocs/NML2_examples/LEMS_iv_novel_cell.xml
/source/Userdocs/NML2_examples/NMLCH000015.channel.nml
/source/Userdocs/NML2_examples/NMLCL000109.nml.zip
/source/Userdocs/NML2_examples/NML_DB_Net.gv.png
/source/Userdocs/NML2_examples/NML_DB_network.net.nml
/source/Userdocs/NML2_examples/NaTa_t.channel.nml
/source/Userdocs/NML2_examples/NaTs2_t.channel.nml
/source/Userdocs/NML2_examples/Nap_Et2.channel.nml
/source/Userdocs/NML2_examples/SK_E2.channel.nml
/source/Userdocs/NML2_examples/SKv3_1.channel.nml
/source/Userdocs/NML2_examples/TestCell.cell.nml
/source/Userdocs/NML2_examples/bAC217_L23_MC_40be3bf0e8_0_0.cell.nml
/source/Userdocs/NML2_examples/bAC217_L23_MC_40be3bf0e8_0_0.hoc
/source/Userdocs/NML2_examples/iv_bAC217_L23_MC_40be3bf0e8_0_0.net.nml
/source/Userdocs/NML2_examples/iv_novel_cell.net.nml
/source/Userdocs/NML2_examples/novel_cell.hoc
/source/Userdocs/NML2_examples/pas.channel.nml
